@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

:root {
  --primary-color: #c98d83;
  --secondary: #783b31;
  --bg: #f2f1ec;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Vidaloka", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5rem;
}

section {
  padding: 2rem 7%;
}

/* Headings */

.heading {
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  font-size: 4rem;
}

.heading span {
  color: var(--secondary);
  text-transform: uppercase;
}

/* BUTTON */

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  background: var(--secondary);
}

/*  HEADER (NAVBAR) */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--bg);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9rem;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--secondary);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--primary-color);
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--black);
  cursor: pointer;
}

.header .icons div:hover {
  color: var(--primary-color);
}

/*  HOME */

.home {
  background: url(../images/slider1.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #f9f9f9;
}

.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.2;
  padding: 2rem 0;
  z-index: 10;
}

.home .content .btn {
  z-index: 10;
}

/*  BANNER */

.banner {
  background: url(../images/banner-bg.jpg);
}

.banner img {
  margin-top: 3rem;
  height: 100%;
  width: 100%;
}

/* ABOUT US */

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 100%;
  height: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  color: var(--black);
  font-size: 3.5rem;
  line-height: 1.5;
}

.about .row .content h3 span {
  color: var(--secondary);
}

.about .row .content p {
  font-size: 1.4rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

/*  PRODUCTS */

.product {
  background: var(--bg);
}

.product .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.product .box-container .box {
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product .box-container .box .image {
  height: 35rem;
  width: 100%;
  padding: 1.1rem;
}

.product .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}

.product .box-container .box .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .content .stars {
  padding: 1rem 0;
}

.product .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--secondary);
}

.product .box-container .box .content .price {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--secondary);
  margin-right: 1rem;
}

/* WEEKLY PROMOTIONS */

.promotion {
  background: url(../images/promotion.jpg) no-repeat;
  background-size: cover !important;
  background-position: center !important;
}

.promotion .box-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.promotion .box-container .box {
  flex: 1 1 55rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promotion .box-container .box .content {
  text-align: center;
}

.promotion .box-container .box .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.promotion .box-container .box .content p {
  font-size: 1.4rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1.8;
}

/*  ORDER  */

.order .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.order .row .image {
  flex: 1 1 30rem;
}

.order .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.order .row form {
  flex: 1 1 50rem;
  padding: 5rem;
}

.order .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--secondary);
  text-transform: capitalize;
  background: var(--bg);
  border-radius: 0.5rem;
  width: 49%;
}

.order .row form .inputBox input:focus,
.order .row form textarea:focus {
  border: 0.1rem solid var(--primary-color);
}

.order .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}

/* FOOTER */

.footer {
  background: var(--bg);
  text-align: center;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  text-transform: capitalize;
  font-size: 2.2rem;
  color: var(--secondary);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
  padding: 0.5rem 0;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  background: var(--primary-color);
  color: var(--white);
  margin-right: 0.3rem;
}

.footer .box-container .box .share a:hover {
  background: var(--secondary);
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary-color);
  padding: 0.5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: var(--secondary);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  border-top: 0.1rem solid var(--secondary);
}

.footer .credit span {
  color: var(--secondary);
}
